.availability-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.availability-modal__heading {
  color: #165da9;
  margin: 0px;
  margin-top: 20px;
}

.availability-modal__body {
  color: #11837b;
  margin: 0px;
  margin-top: 20px;
  font-weight: bold;
}

.availability-modal__brush__container {
  display: flex;
}

.availability-modal__brush {
  font-weight: bold;
  color: #165da9;
  width: fit-content;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.availability-modal__calendar {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  border: 5px solid #165da9;
  padding: 50px;
  border-radius: 50px;
}

.availability-modal__calendar__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availability-modal__calendar__time-label {
  border: 2px solid transparent;
  height: 20px;
  width: auto;
  font-weight: bold;
  color: #165da9;
  text-align: right;
}

.availability-modal__calendar__no-time-label {
  border: 2px solid transparent;
  height: 20px;
  width: auto;
}

.availability-modal__calendar__day-name {
  color: #165da9;
  font-weight: bold;
  height: 20px;
  border: 2px solid transparent;
}
.availability-modal__calendar__timeslot {
  border: 2px solid rgba(17, 131, 123, 1);
  width: 100px;
  height: 20px;
}

.availability-modal__button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #11837b;
  color: #f4f7fb;
  border: transparent;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}
